:root {
  --theme-color-primary: hsl(329, 50%, 20%);
  --theme-color-complementary: yellow;
  --theme-color-white: white;
  --theme-color-black: black;

  color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
  :root {
    --theme-content-background: hsl(60, 30%, 80%);
    --theme-content-background-even: hsl(60, 30%, 70%);
    --theme-content-background-odd: var(--theme-content-background);
    --theme-navigation-link: var(--theme-color-white);
    --theme-navigation-link-hover: var(--theme-color-complementary);
    --theme-social-link: var(--theme-color-black);
    --theme-social-link-hover: var(--theme-color-primary);
    --theme-social-fiverr-logo-background: transparent;
    --theme-social-fiverr-logo-padding: 0;
    --theme-contact-link: var(--theme-color-primary);
    --theme-contact-link-hover: var(--theme-color-primary);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-content-background: hsl(0, 0%, 10%);
    --theme-content-background-even: hsl(0, 0%, 15%);
    --theme-content-background-odd: var(--theme-content-background);
    --theme-navigation-link: var(--theme-color-white);
    --theme-navigation-link-hover: var(--theme-color-complementary);
    --theme-social-link: var(--theme-color-white);
    --theme-social-link-hover: var(--theme-color-complementary);
    --theme-social-fiverr-logo-background: white;
    --theme-contact-link: var(--theme-color-complementary);
    --theme-contact-link-hover: var(--theme-color-complementary);
  }
}

html,
body,
h1,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: inherit;
}

h1 {
  font-size: inherit;
  font-weight: inherit;
}

.container {
  display: grid;
  grid-template-areas:
    "navigation"
    "content";

  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  background-color: var(--theme-content-background);
}

.navigation {
  grid-area: navigation;

  background-color: var(--theme-color-primary);
  color: var(--theme-color-white);

  .links {
    .link {
      &:hover {
        color: var(--theme-navigation-link-hover);
      }

      color: var(--theme-navigation-link);
    }
  }
}

.main {
  .section {
    &:nth-child(even) {
      background-color: var(--theme-content-background-even);
    }

    &:nth-child(odd) {
      background-color: var(--theme-content-background-odd);
    }

    &.socials .social {
      .link {
        &:hover {
          color: var(--theme-social-link-hover);
        }

        color: var(--theme-social-link);
      }

      &.fiverr .logo {
        background-color: var(--theme-social-fiverr-logo-background);
      }
    }

    &.contact .link {
      &:hover {
        color: var(--theme-contact-link-hover);
      }

      color: var(--theme-contact-link);
    }
  }
}

/* Large */
@media only screen and (min-width: 1025px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 0px 0px;

    font-size: 16px;
    font-weight: 400;
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5em;

    .pfp-and-name {
      display: flex;
      align-items: center;

      .pfp {
        --pfp-size: 40px;

        display: inline-block;
        margin: 10px 10px 10px 0;
        width: var(--pfp-size);
        height: var(--pfp-size);
        border-radius: calc(var(--pfp-size) / 2);
      }
    }

    .name {
      display: inline-block;
      font-weight: 500;
      margin-right: 30px;
    }

    .links {
      display: flex;
      gap: 30px;

      font-weight: 200;
      list-style: none;

      .link {
        display: inline-block;
      }
    }
  }

  .main {
    grid-area: content;

    .section {
      display: grid;
      justify-content: center;

      .content {
        display: grid;
        width: 900px;
        max-width: 900px;
        margin: 20px 0;

        .heading {
          font-size: 2em;
          font-weight: 300;
          margin-bottom: 20px;
          text-align: center;
        }
      }

      &.socials {
        .grid {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          row-gap: 50px;

          .social {
            display: flex;
            justify-content: center;
            flex-grow: 1;

            width: 33.333%;

            .link {
              display: grid;
              justify-items: center;
              justify-content: center;
              grid-template-rows: 100px auto 1fr;
              gap: 10px;

              .logo {
                display: grid;
                align-self: center;
                justify-self: center;

                width: 100px;
                height: 100px;
                object-fit: contain;
              }

              .title {
                font-size: 1.5em;
              }

              .subtitle {
                text-align: center;
              }
            }

            &.fiverr .logo {
              padding: 10px;
              height: auto;
            }
          }
        }
      }

      &.contact {
        text-align: center;

        .message {
          display: grid;
          gap: 10px;
        }
      }
    }
  }
}

/* Medium */
@media only screen and (max-width: 1024px) {
}

/* Small */
@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 0;

    font-size: 48px;
    font-weight: 400;
  }

  .navigation {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    font-size: 2em;

    .pfp-and-name {
      display: flex;
      align-items: center;
      gap: 10px;

      .pfp {
        --pfp-size: 2em;

        display: inline-block;
        margin: 20px;
        width: var(--pfp-size);
        height: var(--pfp-size);
        border-radius: calc(var(--pfp-size) / 2);
      }

      .name {
        display: inline-block;
        font-weight: 500;
        margin-right: 40px;
      }
    }

    .links {
      display: none;
    }
  }

  .main {
    grid-area: content;

    .section {
      display: grid;
      justify-content: center;
      gap: 20px;
      padding: 20px 0;

      .content {
        display: grid;

        .heading {
          font-size: 2em;
          font-weight: 300;
          margin-bottom: 20px;
          text-align: center;
        }
      }

      &.socials {
        .grid {
          display: flex;
          flex-flow: column;
          gap: 100px;

          .social {
            display: flex;
            justify-content: center;

            .link {
              display: grid;
              justify-items: center;
              justify-content: center;
              grid-template-rows: 200px auto 1fr;
              gap: 10px;

              .logo {
                display: grid;
                align-self: center;
                justify-self: center;

                width: 200px;
                height: 200px;
                object-fit: contain;
              }

              .title {
                font-size: 1.5em;
              }

              .subtitle {
                text-align: center;
              }
            }

            &.fiverr .logo {
              padding: 10px;
              height: auto;
            }
          }
        }
      }

      &.contact {
        text-align: center;

        .message {
          display: grid;
          gap: 10px;
          padding: 10px;
        }
      }
    }
  }
}
