/* Reset */
/* Adapted from https://www.joshwcomeau.com/css/custom-css-reset/ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Theme constants */

:root {
  --theme-color-primary: hsl(329, 50%, 20%);
  --theme-color-complementary: yellow;
  --theme-color-white: white;
  --theme-color-black: black;

  color-scheme: light dark;
}

/* Light theme */

@media (prefers-color-scheme: light) {
  :root {
    --theme-content-background: hsl(60, 30%, 80%);
    --theme-content-background-even: hsl(60, 30%, 70%);
    --theme-content-background-odd: var(--theme-content-background);
    --theme-navigation-link: var(--theme-color-white);
    --theme-navigation-link-hover: var(--theme-color-complementary);
    --theme-links-link: var(--theme-color-black);
    --theme-links-link-hover: var(--theme-color-primary);
    --theme-links-fiverr-logo-url: url("../images/fiverr-green.svg");
    --theme-contact-link: var(--theme-color-primary);
    --theme-contact-link-hover: var(--theme-color-primary);
  }
}

/* Dark theme */

@media (prefers-color-scheme: dark) {
  :root {
    --theme-content-background: hsl(0, 0%, 10%);
    --theme-content-background-even: hsl(0, 0%, 15%);
    --theme-content-background-odd: var(--theme-content-background);
    --theme-navigation-link: var(--theme-color-white);
    --theme-navigation-link-hover: var(--theme-color-complementary);
    --theme-links-link: var(--theme-color-white);
    --theme-links-link-hover: var(--theme-color-complementary);
    --theme-links-fiverr-logo-url: url("../images/fiverr-white.svg");
    --theme-contact-link: var(--theme-color-complementary);
    --theme-contact-link-hover: var(--theme-color-complementary);
  }
}

/* Elements */

body {
  font-size: 16px;
  font-weight: 400;
  min-width: 320px;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: inherit;
}

h1 {
  font-size: inherit;
  font-weight: inherit;
}

/* Apply theme */

.body-container {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  background-color: var(--theme-content-background);
}

.navigation-container {
  display: flex;
  justify-content: center;
  background-color: var(--theme-color-primary);
  color: var(--theme-color-white);

  .link {
    &:hover {
      color: var(--theme-navigation-link-hover);
    }

    color: var(--theme-navigation-link);
  }
}

.navigation {
  width: 100%;
  max-width: 1000px;
}

.main .section {
  &:nth-child(even) {
    background-color: var(--theme-content-background-even);
  }

  &:nth-child(odd) {
    background-color: var(--theme-content-background-odd);
  }

  &.links .link {
    &:hover {
      color: var(--theme-links-link-hover);
    }

    color: var(--theme-links-link);
  }

  &.contact .link {
    &:hover {
      color: var(--theme-contact-link-hover);
    }

    color: var(--theme-contact-link);
  }
}

/* Universal layout */

.body-container {
  display: grid;
  grid-template-areas:
    "navigation"
    "content";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 0;
}

.navigation {
  grid-area: navigation;
  display: grid;
  align-items: center;
}

.pfp-and-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  grid-area: content;
}

.section {
  .content {
    display: flex;
    flex-direction: column;
    gap: 0;

    .heading {
      font-weight: 300;
      text-align: center;
    }
  }
}

.section.links {
  .grid {
    display: grid;
    align-items: start;
    justify-items: center;
  }

  .link {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;

    .subtitle {
      text-align: center;
    }
  }

  .logo {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .fiverr .logo {
    content: var(--theme-links-fiverr-logo-url);
  }
}

.section.contact .message {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  text-align: center;
}

@media only screen and (min-width: 320px) {
  .navigation .links {
    display: none;
  }

  .pfp-and-name {
    gap: 1em;
    padding: 1em;

    .pfp {
      width: clamp(1em, 15vw, 6em);
      height: clamp(1em, 15vw, 6em);
      border-radius: calc(clamp(1em, 15vw, 6em) / 2);
    }

    .name {
      font-size: clamp(1em, 12vw, 6em);
    }
  }

  .section {
    padding: 1em;

    .content {
      gap: 2em;
    }

    .heading {
      font-size: clamp(1em, 10vw, 5em);
    }
  }

  .section.links {
    .grid {
      flex-direction: column;
      gap: 5em;
    }

    .logo-container {
      width: clamp(5em, 30vw, 10em);
    }

    .fiverr .logo {
      padding: 1em;
    }

    .link {
      flex-direction: column;
    }

    .title {
      font-size: clamp(1em, 8vw, 4em);
    }

    .subtitle {
      font-size: clamp(1em, 6vw, 3em);
    }
  }

  .contact .message {
    font-size: clamp(1em, 6vw, 3em);
  }
}

@media only screen and (min-width: 600px) {
  .navigation {
    grid-template-columns: auto min-content;
    gap: 0.5em;

    .links {
      display: grid;
      grid-template-columns: repeat(2, min-content);
      gap: 2em;
      padding: 0.5em 2em 0.5em 0.5em;
      justify-self: end;

      .link {
        font-weight: 300;
        font-size: 1.2em;
      }
    }
  }

  .pfp-and-name {
    justify-self: start;
    gap: 0.5em;
    padding: 0.5em;

    .pfp {
      --pfp-size: 3em;

      width: var(--pfp-size);
      height: var(--pfp-size);
      border-radius: calc(var(--pfp-size) / 2);
    }

    .name {
      font-size: 1.5em;
      text-wrap: nowrap;
    }
  }

  .section .heading {
    font-size: 2em;
  }

  .section.links {
    .grid {
      flex-direction: column;
      grid-template-columns: repeat(2, 1fr);
      align-items: start;
      margin-left: auto;
      margin-right: auto;
      gap: 5em;
    }

    .logo-container {
      width: clamp(5em, 30vw, 10em);
      height: clamp(5em, 30vw, 10em);
    }

    .fiverr .logo {
      padding: 1em;
    }

    .link {
      flex-direction: column;
    }

    .title {
      font-size: 1.8em;
    }

    .subtitle {
      font-size: 1em;
    }
  }

  .contact {
    .content {
      gap: 1em;
    }

    .message {
      font-size: 1em;
    }
  }
}

@media only screen and (min-width: 800px) {
  .section.links {
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}